.main-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 16px 24px;
}

.main-header-left-controls,
.main-header-right-controls {
  display: flex;
  align-items: center;
}

.main-header-left-controls {
  gap: 32px;
}

.main-header-right-controls {
  gap: 24px;
}

.main-header-search-controls {
  display: flex;
}

.main-header-search-controls input[type="search"] {
  width: 348px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
  font-weight: normal;
  outline: none;
  padding: 4px 8px;
  box-sizing: border-box;
}

.main-header-search-controls input[type="search"]::placeholder {
  font-size: 1rem;
  font-weight: normal;
}

.main-header-search-controls input:active {
  border: 1px solid #444;
}

#search {
  width: 57px;
  height: 40px;

  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  cursor: pointer;
}

#search img {
  display: inline-flex;
  vertical-align: middle;
}
