@import url("reset.css");
@import url("header.css");
@import url("nav.css");
@import url("content.css");

.grid-container {
  display: grid;
  grid-template-columns: 240px auto;
  padding: 16px 24px;
  gap: 20px;
}
